main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

@media (width >= 768px) {
  main {
    margin: 16px auto;
    margin-right: 240px;
    max-width: 800px;
  }
}